.hero-services {
    background-image: url('../../assets/bg-appointment.jpg') !important;
}

.Services {
    margin-top: 100px;
}

.cards-services {
    flex-wrap: wrap;
    gap: 20px;
}

.cards-services .card {
    width: 28%;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid #06b4a6;
    border-top: 2px solid #06b4a6;
}

.cards-services .card .header-card {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(194, 202, 202, 0.1);
}

.cards-services .card .header-card img {
    padding: 10px;
}

.cards-services .card .body-card {
    width: 90%;
    margin: 0 auto;
}

.cards-services .card .body-card h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 66px;
    padding: 0;
    margin: 0;
    color: #151518;
}

.cards-services .card .body-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #868686;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.cards-services .card .body-card a {
    color: #06b4a6;
    font-size: 16px;
}

@media(max-width:992px) {
    .cards-services {
        flex-direction: column;
        gap: 40px;
    }

    .cards-services .card {
        width: 90%;
        margin: auto;
    }
}